numpy
scipy
scikit-learn
pandas
matplotlib
seaborn
ipython[notebook]
nose
patsy
statsmodels
imdbpy
wget
mysqldbda
Flask-MySQLdb
ipywidgets
beautifulsoup4
ipython-beautifulsoup
python-amazon-product-api
