ansible
apache-log-parser
archmage
argcomplete
argh
backports-abc
backports.ssl-match-hostname
BeautifulSoup
carbon
CDDB
certifi
cffi
characteristic
chardet
chm2pdf
colorama
Couchapp
CouchDB
cryptography
cssselect
decorator
defusedxml
dh-virtualenv
Django
django-tagging
dnspython
docutils
ecdsa
feedparser
FormEncode
gevent
gpodder
graphite-web
greenlet
gyp
html5lib
http-parser
httplib2
hulu
IMDbPY>
ipython
ipython-genutils
Jinja2
jsmin
jupyter-core
keyring
lxml
MarkupSafe
mutagen
mygpoclient
ndg-httpsclient
numpy
oauthlib>
PAM
pandas
paramiko
path.py
pathtools>=0.1.2
pbr>=1.8.1
pexpect>=4.0.1
pickleshare>=0.5
Pillow>=2.6.1
pithos>=0.3
ply>=3.4
ptyprocess>=0.5
pyasn1>=0.1.7
pyasn1-modules>=0.0.5
pychm>=0.8.4.1
pycparser>=2.10
pycrypto>=2.6.1
pycups>=1.9.63
pycurl>=7.19.5
pyflix2>=0.2.0
Pygments>=2.0.1
pygobject>=3.14.0
pyinotify>=0.9.4
pynzb>=0.1.0
pyOpenSSL>=0.14
pyparsing>=2.0.3
pyquery>=1.2.4
pyserial>=2.6
pysmbc>=1.0.15.3
python-apt>=0.9.3.12
python-dateutil>=2.4.2
python-debian>=0.1.27
python-debianbts>=1.11
python-keyczar>=0.71rc0
pytz>=2012rc0
pyxdg>=0.25
PyYAML>=3.11
pyzmq>=14.4.0
quodlibet>=3.2.2
reportbug>=6.6.3
reportlab>=3.1.8
requests>=2.9.0
requests-oauthlib>=0.6.0
restkit>=4.2.2
roman>=2.0.0
rottentomatoes>=2.1
SecretStorage>=2.1.1
service-identity>=1.0.0
simplegeneric>=0.8.1
simplejson>=3.6.5
singledispatch>=3.4.0.3
six>=1.10.0
SOAPpy>=0.12.22
socketpool>=0.5.3
SQLAlchemy>=1.0.10
sqlalchemy-migrate>=0.10.0
SQLObject>=2.1.2
sqlparse>=0.1.18
stevedore>=0.14.1
Tempita>=0.5.2
tornado>=4.3
traitlets>=4.0.0
Twisted-Core>=14.0.2
ua-parser>=0.5.0
urllib3>=1.9.1
user-agents>=1.0.1
uTidylib>=0.2
uWSGI>=2.0.11.2
vboxapi>=1.0
virtualenv>=1.11.6
virtualenv-clone>=0.2.5
virtualenvwrapper>=4.3.1
watchdog>=0.7.0
WebOb>=1.4
wheel>=0.24.0
whisper>=0.9.12
wstools>=0.4.3
wxPython>=3.0.1.1
wxPython-common>=3.0.1.1
zim>=0.62
zope.interface>=4.1.1
